divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
body{

    background-color: rgb(191, 225, 236);
}
html{
    height: 100vh;
}
.h-custom {
height: calc(100% - 73px);
}
.img-container{
    /* padding-top: 1px 2px 1px 2px; */
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(163, 215, 245);
}
.heading{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
@media (max-width: 768px) {
.h-custom {
height: 100%;
}
}
