:root {
    --color-background: rgb(236, 230, 230);
    --color-button: rgb(65, 161, 183);
    --color-heading: rgb(34, 34, 34);
    --color-body: #918ca4;
    --color-body-dark: #5c5577;
    --color-icon: rgb(112, 105, 105);
    --width: 40rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 59.5%;
    margin: 0 0 0 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    /* font-size: 70px; */

    font-size: 5rem;
    /* rem is multiplies of font size of html eleme
    if user change browser font size it will be still 70 px thats why we dont use 70 px font size*/
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.7rem;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: bolder;
}

.header p {
    margin-top: 0;
    margin-bottom: 7rem;
}


/* button */
.btn {
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.btn-container {
    margin-top: 3.4rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
    width: var(--width);
}

.btn--primary {
    text-align: center;
    width: 100%;
    height: 3rem;
    border: 0;
    border-radius: 3px;
    background: var(--color-button);
    font-size: 1.6rem;
    padding-top: 0.5rem;
    font-family: 'Instrument Sans', sans-serif;
}

.btn:hover {
    transform: scale(1.008);
}

.btn--primary:hover {
    background: rgb(68, 182, 207);
}


/* header */
.my-form .header {
    margin-bottom: 5rem;
    padding-right: 18rem;
}

.header p {
    color: var(--color-body);
    font-size: 1.5rem;
}

/* inputsss */

.my-form {
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

.input-field {
    width: var(--width);
    border: 1px solid #c1c1c1;
    display: flex;
    margin: 0;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.input-field i {
    padding: 1rem 1rem;
    color: rgba(123, 116, 145, 0.5);
    opacity: 0.7;
}

.input-field input {
    border: 0px solid #c1c1c1;
    width: 100%;
    outline: none;
    height: 30px;
    font-size: 1.3rem;
    opacity: 0.7;
    font-weight: 600;
}
/* icons */
.input-field .icon {
    width: 1rem;
    height: 1.4rem;
    margin: 0.85rem 0.9rem 0rem 0.9rem;
    opacity: 0.5;
}

.input-field input::placeholder {
    color: rgba(42, 37, 63, 0.6);
}

.input-field:hover {
    border: 1px solid grey;
}

.input-field:hover input::placeholder {
    color: #131212;
    font-weight: 600;
}



/* Increase opacity when input-field is hovered */
.input-field:hover .icon,
.input-field:hover .fas {
    opacity: 1;
    transform: scale(1.06);
}

.input-field:focus .icon,
.input-field:focus .fas {
    opacity: 1;
    transform: scale(1.06);
}

/* heading inside form */
.my-form h4 {
    margin-bottom: 0.4rem;
}


/* check-box */
.check-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    margin-top: 0.6rem;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 600;
}

.check-box * {
    font-size: 1.5rem;
    text-decoration: none;
}

.check-box label {
    vertical-align: bottom;
}

.check-box a {
    color: rgb(106, 188, 206);
}

.check-box a:hover {
    text-decoration: underline;
}

/* grid */
.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grid .image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem;
    background-color: #06808b;
}

.image .image-1 {
    width: auto;
    min-width: 20rem;
}

.image .icon {
    position: absolute;
    top: 4rem;
    left: 6rem;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        /* grid-template-columns: repeat(2,1fr); */
        grid-template-columns: 1fr 1.3fr;
        height: 100vh;
    }

    .my-form, .my-form .header {
        border-top: 0;
    }

    .my-form {
        margin-top: 0;
        height: 100%;
        padding: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;

        white-space: nowrap;
        overflow: auto;
    }

    .grid .image {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        /* Reset min-width for wider screens */
        padding: 7rem;
        /* Adjust padding as needed */
        /* flex-direction: column; */
        position: relative;
    }

    .image .image-1 {
        width: 100%;
        height: auto;
        max-width: 35rem;
        max-height: 35rem;

    }

    .image .icon {
        position: absolute;
        left: 8rem;
        top: 6rem;
    }

}

/* sign up */
.sign-up {
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 100;
}

.sign-up * {
    font-size: 1.6rem;
}
.sign-up .btn {
    color: black;
}